<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
    <div id="contenido" contenteditable="true">
        <p>Texto de prueba</p>
    </div>
    <script th:src="@{/site.js}"></script>
</body>
</html>